body{
    padding: 0%;
    background-color: rgb(204, 157, 157);
    margin: 80px;
}
.informacoes{
    padding: 15px;
    background-color: rgb(95, 134, 92);
    box-shadow:0 2px 2px rgb(29, 53, 27);
    border-radius:2px;
    display: flex;
    column-rule-style:solid;
    column-count: 2;
    column-span: all;
    width: 550px;
    height: 200px;
   margin: 20px auto;
   
}
.imagem{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}
hgroup{
    font-size:15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left:20px;
}